transformers==4.46.3
cython 
scipy
opencv-python
pillow
scikit-image
timm
einops
pandas
imgaug
h5py
av
peft
huggingface_hub==0.25.0
accelerate
diffusers
einops
decord
tqdm
safetensors
omegaconf
pydantic
compel